hostname {{ device.name }}

interface Loopback0
   description Management Loopback
   ip address {{ device.loopback_ip }}
!

{% for iface in device.interfaces %}
interface {{ iface.name }}
   description {{ iface.description }}
   no switchport
   ip address {{ iface.ip }}
!

{% endfor %}

router bgp {{ device.bgp_asn }}
   router-id {{ device.bgp_router_id }}
   maximum-paths 4
{% for iface in device.interfaces %}
   neighbor {{ iface.bgp_peer_ip }} remote-as {{ iface.bgp_peer_asn }}
   neighbor {{ iface.bgp_peer_ip }} description {{ iface.description }}
{% endfor %}
!

end
