hostname {{ device.name }}

interface Loopback0
 description Management Loopback
 ipv4 address {{ device.loopback_ip.split('/')[0] }} 255.255.255.255
!

{% for iface in device.interfaces %}
interface {{ iface.name }}
 description {{ iface.description }}
 ipv4 address {{ iface.ip.split('/')[0] }} 255.255.255.254
 no shutdown
!

{% endfor %}

router bgp {{ device.bgp_asn }}
 bgp router-id {{ device.bgp_router_id }}
 address-family ipv4 unicast
 !
{% for iface in device.interfaces %}
 neighbor {{ iface.bgp_peer_ip }}
  remote-as {{ iface.bgp_peer_asn }}
  description {{ iface.description }}
  address-family ipv4 unicast
  !
 !
{% endfor %}
!

commit
end
