system {
    host-name {{ device.name }};
    root-authentication {
        encrypted-password "$1$CHANGEME$";
    }
    services {
        ssh;
        netconf {
            ssh;
        }
    }
    syslog {
        file messages {
            any any;
        }
    }
}

interfaces {
    lo0 {
        unit 0 {
            family inet {
                address {{ device.loopback_ip }};
            }
        }
    }
{% for iface in device.interfaces %}
    {{ iface.name }} {
        description "{{ iface.description }}";
        unit 0 {
            family inet {
                address {{ iface.ip }};
            }
        }
    }
{% endfor %}
}

routing-options {
    router-id {{ device.bgp_router_id }};
    autonomous-system {{ device.bgp_asn }};
}

protocols {
    bgp {
{% for iface in device.interfaces %}
        group ebgp-peers {
            type external;
            neighbor {{ iface.bgp_peer_ip }} {
                description "{{ iface.description }}";
                peer-as {{ iface.bgp_peer_asn }};
                family inet {
                    unicast;
                }
            }
        }
{% endfor %}
    }
}
